@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
}

/* Resetování okrajů, aby aplikace seděla přesně k hraně monitoru */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  min-height: 100vh;
  background-color: #020202; /* Lehce šedé pozadí pro celou aplikaci */
}

a {
  font-weight: 500;
  color: #2563eb;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
